<div>
    <h1> CONNECTION ESTABLISHED: AFTERLIFE SECURE NET </h1>
    <h2> Preem to see you, choom. Don't keep the fixers waiting </h2>
    <button><a href="/about">Start the gigs here.</a></button>
</div>
<style >
    html{
    --background : white;
    --gray-200 : #222222;
    --gray-400: #444444;
    --gray-600: #333333;
    --gray-900: #555555;
    --gray-1000:black;
    }
    html.dark{
        --background: black;
        --gray-200: #aaaaaa;
        --gray-400: #d3cccc;
        --gray-600: #a09898;
        --gray-900: #ffffff;
        --gray-1000: white;
    }
    div{
        width: 100%;
        height: 300px;
        margin-top: 150px;
    }
    button:hover{
        background-color: var(--background);
        color: var(--gray-1000);
    }
    button:hover a{
        color:  var(--gray-1000);
    }
    button{  
        background-color: var(--gray-1000);
        border: 2px solid var(--gray-1000);
        font-weight: bold;
        border-radius: 1.2rem;
        display: block;
        margin: 3em auto;
        padding: 1em 2rem;
        cursor: pointer;
    }
</style>