---
import MainLayout from "./MainLayout.astro";
import "../styles/Blog.css"
const {title} = Astro.props
---
<MainLayout>
    <h1>{title}</h1>
    <slot  /> 
</MainLayout>
<style>
    h1{
        font-size: 7rem;
        display: block;
        margin: 10px auto;
    }
</style>